@value makerBlueGrey,makerWhite,makerBeige from '../../../common/colors.css';
.form {
  background-color: makerBeige;
  border-radius: 5px;
  flex-basis: 50%;
  margin: 0 5em 0 4em;
  padding: 0 1em 1em 1em;
}
.img {
  padding-top: 2.5em;
  width: 80%;
  height: 48%;
}
.date {
  font-family: "GowunBatang-Regular";
  padding-top: 1.5em;
  font-size: 1.3em;
  font-weight: bold;
  color: makerBlueGrey;
}
.container {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.input,
.content {
  width: 80%;
  border: 0;
  font-size: 1.2em;
  padding: 0.7em;
  font-family: "GowunBatang-Regular";
  outline: 0;
}
.content {
  height: 20em;
  font-size: 1.1em;
}
.saveBtn {
  width: 40%;
  border: none;
  padding: 0.5em;
  font-size: 1em;
  background: makerBlueGrey;
  color: makerWhite;
  font-weight: bold;
}
.saveBtn:hover {
  opacity: 0.7;
}
