@value makerBlueGrey,makerWhite,makerBeige from '../../../common/colors.css';
.form {
  background-color: makerBeige;
  border-radius: 5px;
  overflow-y: auto;
  flex-direction: row;
}
.img {
  margin: 2em;
  border-radius: 5px;
  width: 40%;
  height: 43%;
  background-color: rebeccapurple;
}
.date {
  font-family: "GowunBatang-Regular";
  padding-top: 1.5em;
  font-size: 1.3em;
  font-weight: bold;
  color: makerBlueGrey;
}
.container {
  display: flex;
  flex-direction: column;
}
.input,
.content {
  width: 45%;
  border: 0;
  font-size: 1.2em;
  padding: 0.7em;
  font-family: "GowunBatang-Regular";
  outline: 0;
}
.content {
  height: 20em;
  font-size: 1.1em;
}
.saveBtn {
  width: 22.5%;
  border: none;
  padding: 0.5em;
  font-size: 1em;
  background: makerBlueGrey;
  color: makerWhite;
  font-weight: bold;
}
.saveBtn:hover {
  opacity: 0.7;
}
