@value makerWhite, makerBlueGrey from '../../../common/colors.css';
.file {
  display: inline-block;
  width: 22.5%;
}
.input {
  display: none;
}
.fileBtn {
  width: 100%;
  font-size: 1em;
  padding: 0.5em;
  border: none;
  background: makerBlueGrey;
  color: makerWhite;
}
.fileBtn:hover {
  opacity: 0.7;
}
