@value makerBlueGrey from '../../../common/colors.css';
.month {
  margin-top: 1em;
}
.btn {
  width: 2em;
  height: 2em;
  margin: 0.1em;
  text-align: center;
  border-radius: 10px;
  border: none;
  background-color: makerBlueGrey;
  color: white;
  font-weight: bold;
}
.btn:hover {
  opacity: 0.7;
}
