@value makerBlueGrey from '../../common/colors.css';

.container {
  width: 100%;
  margin: 0.5em;
  position: relative;
  border-bottom: 4px makerBlueGrey solid;
}
.title {
  font-size: 2.5em;
  margin: 0.5em 0.3em 0.5em 0.5em;
  display: inline-block;
  font-family: "MaruBuri-Regular";
  font-weight: 900;
  color: makerBlueGrey;
}
.loginBtn {
  position: absolute;
  right: 1.5em;
  top: 1em;
  width: 5em;
  cursor: pointer;
  color: makerBlueGrey;
  background: none;
  border: makerBlueGrey 3px solid;
  border-radius: 10px;
  font-size: 1.5em;
  font-weight: 900;
  font-family: "DungGeunMo";
}
.loginBtn:hover {
  opacity: 0.7;
  background-color: makerBlueGrey;
  color: white;
}
.link {
  color: makerBlueGrey;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0.3em;
  text-decoration: none;
}
.link:hover {
  opacity: 0.7;
}
