@value makerLightBeige, makerWhite from '../../common/colors.css';

.container {
  width: 100%;
  margin: 0.5em;
  position: relative;
  border-bottom: 4px makerLightBeige solid;
}
.title {
  font-size: 2.5em;
  margin: 0.5em 0.3em;
  display: inline-block;
}
.loginBtn {
  position: absolute;
  right: 2em;
  top: 1em;
  width: 5em;
  cursor: pointer;
  background-color: makerWhite;
  border: black 3px solid;
  border-radius: 10px;
  font-size: 1.5em;
  font-weight: 900;
  font-family: "DungGeunMo";
}
.loginBtn:hover {
  background-color: #e9ecef;
}
