@value makerLightGreen, makerBeige,makerWhite from '../../common/colors.css';

.container {
  width: 100%;
  margin: 0.5em;
  position: relative;
  border-bottom: 4px makerLightBeige solid;
}
.title {
  font-size: 2.5em;
  margin: 0.5em 0.3em;
  display: inline-block;
  font-family: "MaruBuri-Regular";
  color: #a4a19f;
}
.loginBtn {
  position: absolute;
  right: 2em;
  top: 1em;
  width: 5em;
  cursor: pointer;
  background-color: makerWhite;
  border: black 2px solid;
  border-radius: 10px;
  font-size: 1.5em;
  font-weight: 900;
  font-family: "DungGeunMo";
}
.loginBtn:hover {
  background-color: #e9ecef;
}
