.container {
  /* background-color: #DF8080; */
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgb(160, 160, 160);
  border-radius: 5px;
  width: 17em;
  height: 23em;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-size: 1.4em;
}
.title {
  margin: 1em;
}
.idLog {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.id,
.pw {
  width: 90%;
  border-radius: 10px;
  border: thin;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.5em;
  margin: 0.3em;
  font-family: "DungGeunMo";
}
.socialLog {
  align-items: center;
  display: inline-block;
}
.logBtn,
.googleBtn,
.gitBtn {
  padding: 0.5em;
  background-color: #2b6a4d;
  color: #dcdfe5;
  border: thin;
  border-radius: 5px;
  width: 90%;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: "DungGeunMo";
}
.logBtn {
  margin-top: 1em;
}
.googleBtn,
.gitBtn {
  margin: 0.1em;
  margin-bottom: 3em;
  background-color: white;
  color: #2b6a4d;

  width: 45%;
}
.logBtn:hover,
.googleBtn:hover,
.gitBtn:hover {
  opacity: 0.8;
}
.ment {
  font-size: 0.8em;
  margin: 2em;
}
