@value makerLightBlueGrey,makerWhite,makerBeige from '../../../common/colors.css';
.form {
  border: 3px solid makerLightBlueGrey;
  border-radius: 10px;
  flex-basis: 60%;
  margin: 0 1.5em;
  padding: 1em;
}
.cal {
  background-color: white;
  border-radius: 10px;
  padding: 1em;
}
@media screen and (max-width: 55rem) {
  .form {
    width: 80%;
    height: 100vh;
    margin-bottom: 2em;
  }
}
