@value makerBlueGrey from '../../../common/colors.css';
.diary {
  background-color: White;
  width: 100%;
}
.openBtn {
  display: flex;
  border-radius: 45%;
  padding: 0.6em;
  font-size: 1em;
  font-weight: bold;
  margin-left: 1em;
}
.openBtn:hover {
  background-color: makerBlueGrey;
  color: white;
}
.addDiary {
  margin: 2em;
  display: flex;
}
.addClosed {
  display: none;
}
.addedDiary {
  margin: 1em;
}
.addedClosed {
  display: none;
}

@media screen and (max-width: 62rem) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}
